body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
video{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}
canvas {
    position: absolute;
}